<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <CompileSource>False</CompileSource>
    <UsePowerShell>True</UsePowerShell>
    <WebRoot>wwwroot</WebRoot>
    <DockerServerUrl>tcp://192.168.137.15:2375</DockerServerUrl>
    <DockerImageName>aspnet5_system_info_app</DockerImageName>
    <DockerfileRelativePath />
    <DockerPublishHostPort>83</DockerPublishHostPort>
    <DockerPublishContainerPort>5004</DockerPublishContainerPort>
    <DockerAuthOptions />
    <DockerAppType>Web</DockerAppType>
    <DockerBuildOnly>False</DockerBuildOnly>
    <DockerRemoveConflictingContainers>True</DockerRemoveConflictingContainers>
  </PropertyGroup>
</Project>